@charset "utf-8";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#container {
	height: 100%;
}
#container {
	overflow: show;
}

body {
	background: #fff;
	color: #333;
	font: 100%/1.5 'neue helvetica', helvetica, arial, sans-serif;
	padding: .75em;
}

p.loading {
	font-size: 2em;
	margin: 1em;
}

#legend ul {
	padding: 10px;
	list-style-type:none;
}
